amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cryptography==44.0.0
Django==5.1.5
django-cors-headers==4.6.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
kombu==5.4.2
packaging==24.2
ping3==4.0.8
playwright==1.50.0
prompt_toolkit==3.0.50
pycparser==2.22
pyee==12.1.1
PyJWT==2.10.1
pyOpenSSL==25.0.0
python-dateutil==2.9.0.post0
pythonping==1.1.4
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
psycopg2-binary==2.9.10
django-celery-beat==2.7.0
django-celery-results==2.5.1